* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    background-color: #ffecc3;
    color: #2b0000;
}
div {
    border-radius: 10px;
    background-color: #2e0800;
    padding: 1rem;
}
img {
    border-radius: 10px;
}
footer {
    border-radius: 15px;
    padding: 1.5rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    background-color: #2b0000;
    color: #ffecc3;
}